ul.magazine-navigation {
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
}

.magazine-navigation li {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 35px;
}

.magazine-navigation li a {
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
  font-size: 11px;
  border-radius: 50%;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  text-decoration: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.32);
  color: rgba(255, 255, 255, 0.76);
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

.magazine-navigation li a:active {
  background: #1C3641;
}

.magazine-navigation li a.selected {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -15px;
  pointer-events: none;
  margin-top: -15px;
  background: #444;
}