ul.magazine-navigation {
  height: 85px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
}

.magazine-navigation li {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 55px;
}

.magazine-navigation li a {
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  text-decoration: none;
  overflow: hidden;
  background: #3e7186;
  color: rgba(255,255,255,0.5);
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.magazine-navigation li a:active {
  background: #1C3641;
}

.magazine-navigation li a.selected {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: -25px;
  pointer-events: none;
  margin-top: -25px;
  background: #3bb2d0;
}